// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// body{
//     font-family: 'Roboto', sans-serif !important;
// }

#headercontainer {
    height: 24px;
    width: 100%;
    background-color: black;


    // padding-top: 3px;
    // padding-left: 8%;
    #authdiv {
        padding-right: 8%;

        i {
            color: rgb(227, 214, 169);
        }

        a {
            text-decoration: none;
            font-size: 13px;
            color: rgb(213, 210, 125);
        }

    }

    #contactdiv {
        padding-left: 8%;

        i {
            color: rgb(227, 214, 169);
        }

        a {
            text-decoration: none;
            font-size: 13px;
            color: rgb(213, 210, 125);
        }
    }

}

#navcontainer {
    height: 650px;
    background-image: url("../navbg.jpg");
    background-size: cover;

    p,
    h1 {
        color: rgb(19, 19, 15) !important;
    }

    #navlist li a {
        color: white;
    }

    #bannertext {
        padding-left: 103px;
        padding-top: 68px;
        font-weight: bold;


    }

    @media only screen and (max-width:1000px) {
        #bannertext {
            padding-left: 2px;
            padding-top: 68px;
            font-weight: bold;


        }
    }
}

.navbar-nav {
    list-style: none;
    margin-left: 128px;
}

#mynav {
    padding-left: 133px;
}

@media only screen and (max-width:1000px) {
    #mynav {
        padding-left: 2px;
    }
}

#navlist button {
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;

    &:hover {
        background-color: black;
        border-radius: 50px;
        color: rgb(213, 210, 125);

    }
}

#eventscontainer {
    margin-top: 8%;
    height: 550px;
    // background-color: aqua;
    width: 100%;

    button {
        background-color: rgb(224, 219, 81);
        border-radius: 50px;
        padding: 5px 15px 5px 15px;
        font-size: 10px;
        color: black;
        font-weight: 600;
    }

}

#eventlft {
    height: 433px;
    padding: 23px 54px 10px 46px;

    button {
        margin-top: 30px;
        margin-left: 20px;
        border: none;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}

#eventrt {
    position: relative;
    height: 450px;
    background-image: url("../eventbg.png");
    background-size: cover;
}

#upcontainer {
    position: absolute;
    height: 433px;
    width: 589px;
    top: -42px;
    left: -21px;
    border-radius: 30px;
    background-color: #e0db51 !important;
    padding: 23px 54px 10px 46px;

    h2,
    h4 {
        font-weight: bold;
    }
}

#applylft {
    padding: 43px 4px 10px 23px;
    background-color: #e0db51;
    height: 250px;

    h2 {
        font-weight: bold;
    }
}

#applyrt {
    padding: 43px 4px 10px 23px;
    background-color: rgb(229, 173, 2);
    height: 250px;

    h2 {
        font-weight: bold;
    }

}

#spacingcontainer {
    height: 150px;
}

